@font-face {
  font-family: "Montreal";
  src: url(/NeueMontreal-Regular.otf);
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 10% 30% 30% 30%;
  width: 100%;
  height: 100%;
  font-family: "Montreal";
}

.navbar {
  grid-column: 1/3;
  justify-self: right;
  display: flex;
  column-gap:20px;
  align-items: center;
  padding: 20px;
  /* background-color: red; */
}

.cart {
  background-color: rgba(0, 0, 0, 0.922);
  padding: 10px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart i {
  color: rgba(255, 255, 255, 0.904);
}

.menu {
    display: none;
}

.menu i {
    font-size: 1.2rem;
}

.header-heading {
  grid-column: 1/3;
  /* background-color: blue; */
  padding: 0px 80px;
}

.header-heading h1 {
  font-size: 3.8rem;
  line-height: 4.2rem;
  color: #222;
  font-weight: 500;
}

.header-text {
  /* background-color: brown; */
  padding: 20px 80px;
}

.header-text p {
  width: 55%;
}

.details {
  /* background-color: cadetblue; */
  padding: 12px 40px;
}

.details-item {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid #22222239;
  padding: 12px 0;
}

.details-item h6 {
  font-size: 1.02rem;
  color: #222222af;
}

.details-item h6:hover {
  text-decoration: underline;
  color: #222;
  transition: all 0.2s;
}

.arrow {
  display: none;
}

.arrow i {
  font-size: 1.2rem;
}

.details-item:hover .arrow {
  display: initial;
}

.product-img {
  grid-column: 1/3;
  padding: 20px 80px;
  width: 100%;
  height: 100%;
  background: url(/hipster-men-streetstyle.jpg);
  max-width: 100%;
  background-size: cover;
  background-position: 0 30%;
}

@media (max-width: 640px) {
  .main {
    grid-template-columns: 50% 50%;
    grid-template-rows: 60px 20% 20% 25% 25%;
  }
  .navbar h5, .cart {
    display: none;
  }
  
  .menu {
    display: initial;
  }
  
  .header-heading{
    padding:12px 40px;
  }
  
  .header-heading h1 {
    font-size: 1.9rem;
    line-height: 2rem;
  }
  
  .header-text {
    grid-column: 1/3;
    padding: 12px 40px;
  }
  
  .header-text p {
    width: 70%;
  }
  
  .details {
    grid-column: 1/3;
    padding: 12px 40px;
  }
  
  .details-item {
    padding: 8px 0;
  }
}
